
16.jpg
*.jpg
Find_Screen.vcxproj.filters
Find_Screen.vcxproj.user
x64/Debug/Find_Screen.log
x64/Debug/Find_Screen.obj
x64/Debug/Find_Screen.tlog/CL.command.1.tlog
x64/Debug/Find_Screen.tlog/CL.read.1.tlog
x64/Debug/Find_Screen.tlog/CL.write.1.tlog
x64/Debug/Find_Screen.tlog/Find_Screen.lastbuildstate
x64/Debug/Find_Screen.tlog/link.command.1.tlog
x64/Debug/Find_Screen.tlog/link.read.1.tlog
x64/Debug/Find_Screen.tlog/link.write.1.tlog
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/Find_Screen.Build.CppClean.log
x64/Release/Find_Screen.log
x64/Release/Find_Screen.obj
x64/Release/Find_Screen.tlog/CL.command.1.tlog
x64/Release/Find_Screen.tlog/CL.read.1.tlog
x64/Release/Find_Screen.tlog/CL.write.1.tlog
x64/Release/Find_Screen.tlog/Find_Screen.lastbuildstate
x64/Release/Find_Screen.tlog/Find_Screen.write.1u.tlog
x64/Release/Find_Screen.tlog/link.command.1.tlog
x64/Release/Find_Screen.tlog/link.delete.1.tlog
x64/Release/Find_Screen.tlog/link.read.1.tlog
x64/Release/Find_Screen.tlog/link.write.1.tlog
x64/Release/Find_Screen.vcxproj.FileListAbsolute.txt
x64/Release/putText.obj
x64/Release/vc142.pdb
x64/Release/Find_Screen.tlog/unsuccessfulbuild
pycode/.idea/deployment.xml
pycode/.idea/inspectionProfiles/profiles_settings.xml
pycode/.idea/misc.xml
pycode/.idea/modules.xml
pycode/.idea/pycode.iml
pycode/.idea/vcs.xml
pycode/.idea/workspace.xml
pycode/result.csv
pycode/.vs/pycode/v16/.suo
pycode/__pycache__/line_test.cpython-36.pyc
