
16.jpg
*.jpg
Find_Screen.vcxproj.filters
Find_Screen.vcxproj.user
x64/Debug/Find_Screen.log
x64/Debug/Find_Screen.obj
x64/Debug/Find_Screen.tlog/CL.command.1.tlog
x64/Debug/Find_Screen.tlog/CL.read.1.tlog
x64/Debug/Find_Screen.tlog/CL.write.1.tlog
x64/Debug/Find_Screen.tlog/Find_Screen.lastbuildstate
x64/Debug/Find_Screen.tlog/link.command.1.tlog
x64/Debug/Find_Screen.tlog/link.read.1.tlog
x64/Debug/Find_Screen.tlog/link.write.1.tlog
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/Find_Screen.Build.CppClean.log
x64/Release/Find_Screen.log
x64/Release/Find_Screen.obj
x64/Release/Find_Screen.tlog/CL.command.1.tlog
x64/Release/Find_Screen.tlog/CL.read.1.tlog
x64/Release/Find_Screen.tlog/CL.write.1.tlog
x64/Release/Find_Screen.tlog/Find_Screen.lastbuildstate
x64/Release/Find_Screen.tlog/Find_Screen.write.1u.tlog
x64/Release/Find_Screen.tlog/link.command.1.tlog
x64/Release/Find_Screen.tlog/link.delete.1.tlog
x64/Release/Find_Screen.tlog/link.read.1.tlog
x64/Release/Find_Screen.tlog/link.write.1.tlog
x64/Release/Find_Screen.vcxproj.FileListAbsolute.txt
x64/Release/putText.obj
x64/Release/vc142.pdb
x64/Release/Find_Screen.tlog/unsuccessfulbuild
pycode/.idea/deployment.xml
pycode/.idea/inspectionProfiles/profiles_settings.xml
pycode/.idea/misc.xml
pycode/.idea/modules.xml
pycode/.idea/pycode.iml
pycode/.idea/vcs.xml
pycode/.idea/workspace.xml
pycode/result.csv
pycode/.vs/pycode/v16/.suo
pycode/__pycache__/line_test.cpython-36.pyc
pycode/__pycache__/find_screen.cpython-36.pyc
pycode/__pycache__/threshold_demo.cpython-36.pyc
pycode/ori_imgs/_1080_lfsdjlfak_me.png
pycode.zip
pycode/bugs/database.txt
pycode/bugs/keynames.txt
pycode/bugs/result.txt
pycode/camera_img/database.txt
pycode/camera_img/keynames.txt
pycode/camera_img/result.txt
pycode/changxiang5s/database.txt
pycode/changxiang5s/keynames.txt
pycode/gen_requiremnets.bat
pycode/honor/database.txt
pycode/honor/keynames.txt
pycode/intall_requiremnets.bat
pycode/new10/keynames.txt
pycode/old10_withtime/keynames.txt
pycode/ori_img/database.txt
pycode/ori_img/keynames.txt
pycode/ori_imgs/_1080_235psdfasdf_me.png
pycode/ori_imgs/_1080_23gw4d3s_me.png
pycode/ori_imgs/_1080_323232y5_me.png
pycode/ori_imgs/_1080_35pfas43;h_me.png
pycode/ori_imgs/_1080_cet2019_me.png
pycode/ori_imgs/_1080_fdsafasl3_me.png
pycode/ori_imgs/_1080_fewjfksal_me.png
pycode/ori_imgs/_1080_fw3oifsdo_me.png
pycode/ori_imgs/_1080_hellowld_me.png
pycode/ori_imgs/_1080_hleilw_me.png
pycode/ori_imgs/_1080_iuy76hgfg_me.png
pycode/ori_imgs/_1080_jer65343_me.png
pycode/ori_imgs/_1080_love you_me.png
pycode/ori_imgs/_1080_sdfdfa3fa_me.png
pycode/ori_imgs/_1080_sdfkalf3w_me.png
pycode/ori_imgs/_1080_sheal3k221_me.png
pycode/ori_imgs/_1080_syz123_me.png
pycode/ori_imgs/_1080_test6_me.png
pycode/ori_imgs/_1080_w302390_me.png
pycode/test.png
pycode/zzy_ipxr/database.txt
pycode/zzy_ipxr/keynames.txt
pycode/zzy_ipxr/rname.bat
pycode/bugs/database.txt
pycode/bugs/result.txt
pycode/ori_img/database.txt
pycode/ori_img/keynames.txt
pycode/test.png
pycode/bugs/database.txt
pycode/bugs/result.txt
pycode/ori_img/database.txt
pycode/ori_img/keynames.txt
pycode/test.png
